<!DOCTYPE html>
<html>
    <link lang="de">
    <title>Bosсh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/main.js"></script>

</head>
<body>
    //= header.html
    <main>
        <section class="menu">
            <nav class="menu__categories">
                <ul></ul>
            </nav>
            <nav class="menu__sub-categories">

            </nav>
        </section>
    </main>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore voluptates voluptatibus omnis impedit ea, laborum excepturi nihil, tenetur labore fugiat itaque nobis nulla earum aperiam suscipit ipsa repellendus neque fuga!

    <div id="category-tpl" hidden>
        <li class="menu__categories-item">
            <a href="#">
                <span class="menu__categories-name"></span>
                <span class="menu__categories-marker"></span>
            </a>
        </li>
    </div>
    <div class="lore100">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis dicta sunt quia, molestiae esse explicabo vitae aliquid accusamus tenetur minus ipsa sapiente culpa error voluptas nisi impedit necessitatibus quae suscipit neque tempora. Dolores, veniam quis doloremque neque sapiente sequi amet, dolorum quasi cupiditate voluptatibus ab consectetur totam! Sit deserunt sint dolores eaque modi veritatis ea atque dolore, quas et ratione, esse veniam est quibusdam in ad illum minus, ut dolorum eius officia. Voluptates, quod, quidem? Deleniti dolor nihil minima quidem, eveniet saepe recusandae vero consequuntur. Quo nulla, explicabo autem dolorum atque iusto, quasi quam ipsum pariatur velit veritatis corporis, placeat.
    </div>
    

    <div id="sub-category-tpl" hidden>
        <li>
            <a href="#"></a>
        </li>
    </div>
    //= footer.html
</body>
</html>