<!DOCTYPE html>
<html>
    <link lang="de">
    <title>Bosсh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/main.js"></script>

</head>
<body>
    //= header.html
    <main>
        <section class="menu">
            <nav class="menu__categories">
                <ul></ul>
            </nav>
            <nav class="menu__sub-categories">

            </nav>
        </section>
    </main>
<div>
    <p>Новый параграф</p>

    <p>Изучаем GIT</p>
</div>
    <div id="category-tpl" hidden>
        <li class="menu__categories-item">
            <a href="#">
                <span class="menu__categories-name"></span>
                <span class="menu__categories-marker"></span>
            </a>
        </li>
    </div>

    <div id="sub-category-tpl">
        <li>

    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quibusdam architecto maxime ipsa, corrupti expedita beatae suscipit similique veritatis ratione velit nulla alias iste, tempora voluptate natus pariatur rem doloremque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem cumque saepe molestiae dicta non quidem molestias sed, natus nostrum perspiciatis a aliquid error animi! Illum totam aliquid odit pariatur sed.</p>
    <p>some text</p>	
    //= footer.html
</body>
</html>