<!DOCTYPE html>
<html>
    <link lang="de">
    <title>Холодильники Bosсh б/у из Германии - только у нас!</title>
    <meta charset="utf-8">
    <meta name=desctiption content="Холодильники Bosсh бу из Германии можер недорого купить в нашем интернет магазине">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/main.js"></script>

</head>
<body>
    //= header.html
    <main>
        <section class="menu">
            <div class="logo">Я и моя молодая команда что-то делаем 
                <iframe width="853" height="480" src="https://www.youtube.com/embed/cEEEg9oJzMA?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <nav class="menu__categories">
                <ul></ul>
            </nav>
            <nav class="menu__sub-categories">

            </nav>
        </section>
    </main>

    <div id="category-tpl" hidden>
        <li class="menu__categories-item">
            <a href="#">
                <span class="menu__categories-name"></span>
                <span class="menu__categories-marker"></span>
            </a>
        </li>
    </div>

    <div id="sub-category-tpl" hidden>
        <li>
            <a href="#"></a>
        </li>
    </div>
    //= footer.html
</body>
</html>