<div class="main">
    <h1 class="main__title">Einfach zur perfekten Waschmaschine.</h1>
    <p class="main__description">Entdecken Sie die vielfältigen Auswahlmöglichkeiten und konfigu</p>
    <div class="main__container">
    </div>
    <div>
    	<img src="img/bg.jpg" alt="error">

		<form action="#">
        <p><b>Как по вашему мнению расшифровывается аббревиатура &quot;ОС&quot;?</b></p>
        <p><input type="radio" name="answer" value="a1">Офицерский состав<Br>
        <input type="radio" name="answer" value="a3">Большой полосатый мух</p>
        <p><input type="submit"></p>
    </form>
    </div>
</div>